.testing {
  font-size: 10vw;
  color: orange;
}
.card-image {
  width: 100%;
}
.posted-by-row {
  font-size: 2vw;
}
.image-column {
  /* max-height: 200px; */
}
@media (max-width: 768px) {
  .posted-by-row {
    font-size: 3vw;
  }
}
